#csv-viewer-div {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 100;
  font-family: Inter;
  margin: 1rem auto;
  white-space: nowrap;
  /* width: 1000px; */
  width: 40rem !important;
  max-width: 85%;
}

#csv-viewer-div .card-body div {
  display: flex;
  justify-content: space-evenly;
}
