.data-card {
  position: fixed !important;
  width: 24rem;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 500;
  font-family: Inter;
}

.data-card form {
  padding: 0 1rem;
}

.data-card label {
  margin-right: 0.5rem;
}

.data-card svg {
  width: 1rem;
  float: right;
  cursor: pointer;
}

.data-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.data-group div {
  margin-bottom: 0.5rem;
}

.data-form-inputs {
  display: inline;
}

.data-form-inputs .btn {
  font-family: Inter;
  font-size: 1rem;
}

.data-form-inputs span {
  padding: 0 0.75rem;
  font-family: Inter;
  font-size: 1rem;
}
