.bluebutton {
  top: 2.5625rem;
  text-align: left;
  padding: 0 0.5rem;
  background: none;
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 4px;
  width: 5.625rem;
  height: 2.0625rem;
}

.bluebutton:first-child {
  float: left;
  position: absolute;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bluebutton:nth-child(2) {
  float: left;
  position: absolute;
  left: 7.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bluebutton:last-child {
  float: right;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 1rem;
}

.redbutton {
  top: 5.625rem;
  text-align: left;
  padding: 0 0.5rem;
  background: none;
  border: 1px solid #eb5757;
  box-sizing: border-box;
  border-radius: 4px;
  width: 5.625rem;
  height: 2.0625rem;
}

.redbutton:first-child {
  float: left;
  position: absolute;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redbutton:nth-child(2) {
  float: left;
  position: absolute;
  left: 7.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redbutton:last-child {
  float: right;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 1rem;
}

#match-number {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.elipsis {
  text-align: right;
  padding-right: 1rem;
  float: right;
}
